@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.body{
    --tw-bg-opacity: 1;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}


.App{
    max-width: inherit;
    min-height: 100vh;
    background-color: #141313;
  }